

%h2 Archived Flyers


%table#flyers.table.table-striped.table-hover.col-md-12
  %thead
    %tr
      %th Title
      %th Location
      %th Event Date
      %th Uploaded by:
      %th Image
      %th More Info
  %tbody
    - @flyers.each do |flyer|
      %tr
        %td= flyer.title
        %td= flyer.location
        %td= flyer.event_date
        %td= flyer.uploader
        %td= image_tag(flyer.image.url(:thumb), class: 'media-object')
        %td= link_to "More about #{flyer.title}", archive_show_path(flyer)

= link_to 'Back to active flyers page', flyers_path, :class => 'btn btn-primary'

