!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      .myFlyer {
        position: absolute;
      }
      .mySlides {
        position: relative;
        display: none;
        width: 800px;
        height: 600px;
      }
      img {
        position: absolute;
        display: block;
        width: 800px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .slideshow-container {
        margin: auto;
        width: 890px;
        height: 600px;
      }
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active {
        background-color: #717171;
      }
      #flyer {
      	width: 100%;
      	height: 100%;
      }
      .section {
        font-family: Verdana, sans-serif;
      	text-align: center;
      	display: table;
      	width: 100%;
      }
      html {
        margin: 0;
        padding: 0;
      }
      .section * {
        position: absolute;
        box-sizing: border-box;
      	margin: auto;
      	display: table-cell;
      	vertical-align: middle;
      	width: 100%;
      	height: 100%;
      }
      .section h1 {
      	font-size: 4em;
      }
      .section h2 {
      	font-size: 2.5em;
      }
      .section h3 {
      	font-size: 2em;
      }
      .wrapper {
        display: none;
      }
  %body
    #container.slideshow-container
    %br/
    #dots{:style => "text-align:center"}
    :javascript
      var slideIndex = 0;
      var duration = 7;
      createSlides();
      showSlides();

      function createSlides() {
        var i;
        var files = [#{raw @flyer_img_paths.map { |f| "\'#{f}\'"}.join ', '}];
        var f_title = [#{raw @title.map { |f| "\'#{f}\'"}.join ', '}];
        var f_date = [#{raw @event_date.map { |f| "\'#{f}\'"}.join ', '}];
        var f_loc = [#{raw @loc.map { |f| "\'#{f}\'"}.join ', '}];
        var f_desc = [#{raw @desc.map { |f| "\'#{f}\'"}.join ', '}];
        var fly_flag = [#{raw @ff.map { |f| "\'#{f}\'"}.join ', '}];
        var defaults = [#{raw @defaults.map { |f| "\'#{f}\'"}.join ', '}];
        
        var container = document.getElementById('container')
        var dots = document.getElementById('dots')

        for (i = 0; i < files.length; i++) {
          var slide = document.createElement('div')
          slide.setAttribute('class', 'mySlides')
          
          if(fly_flag[i] == 0) {
            var image = document.createElement('img')
            image.setAttribute('src', files[i])
            slide.appendChild(image)
          } 
          else {
            // Replace with database fetch
            var bg = ""
            if (files[i] != 'no-photo.jpg') {
              bg = files[i]
            }
            else {
              bg = defaults[i]
            }
            
            var image = document.createElement('img')
            image.setAttribute('src', bg)
            image.setAttribute('width', '800px')
            image.setAttribute('height', '600px')
            
            var eventName = f_title[i];
            var startTime = new Date(f_date[i]);
            var eventLocation = f_loc[i];
            var description = f_desc[i];
            if(description == ""){
              description = "Join us for a fun event!"
            }
            
            var flyer = document.createElement('div')
            var section1 = document.createElement('div')
            var section2 = document.createElement('div')
            var section3 = document.createElement('div')
            var section4 = document.createElement('div')
            var section5 = document.createElement('div')
            
            flyer.id = 'flyer'
            flyer.setAttribute('class', 'myFlyer')
            section1.className = section2.className = section3.className = section4.className = section5.className = 'section'
            
            section1.style = 'height:15%'
            section2.style = 'height:20%'
            section3.style = 'height:30%'
            section4.style = 'height:20%'
            section5.style = 'height:15%'
            var sectionTimeAndPlace = document.createElement('h2')
            var sectionName = document.createElement('h1')
            var sectionDescription = document.createElement('h3')
            sectionTimeAndPlace.innerText = "Join us " + getTimeAndPlace(startTime, eventLocation)
            sectionName.innerText = eventName;
            sectionDescription.innerText = description;
            
            section2.appendChild(sectionTimeAndPlace)
            section3.appendChild(sectionName)
            section4.appendChild(sectionDescription)
            
            flyer.appendChild(image)
            flyer.appendChild(section1)
            flyer.appendChild(section2)
            flyer.appendChild(section3)
            flyer.appendChild(section4)
            flyer.appendChild(section5)
            slide.appendChild(flyer)
          }
          container.appendChild(slide)
          var dot = document.createElement('span')
          dot.setAttribute('class', 'dot')
          dots.appendChild(dot)
        }
      }
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        var dots = document.getElementsByClassName('dot');
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = 'none';
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(' active', '');
        }
        slides[slideIndex-1].style.display = 'block';
        dots[slideIndex-1].className += ' active';
        if(slideIndex+1 <= slides.length){
          setTimeout(showSlides, duration * 1000); // Change image every duration seconds
        }
        else{
          setTimeout("location.reload();", duration * 1000);//reloads page after the last slide to check for updated flyers
        }
      }
    

      function getTimeAndPlace(d, l) {
        return getDayOfWeek(d) + " the " + getDayNumber(d) + " at " + getTime(d) + " in " + l;
      }
      function getDayOfWeek(d) {
        const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        return weekday[d.getDay()];
      }
      function getDayNumber(d) {
        return d.getDate() + getDateSuffix(d.getDate());
      }
      function getDateSuffix(d) {
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      }
      function getTime(d) {
        var suffix = "a.m.";
        var hrs = d.getHours()
        if(hrs >= 12) {
          suffix = "p.m.";
        }
        hrs = hrs % 12
        if(hrs == 0) {
          hrs = 12
        }
        var min = d.getMinutes()
        if(min == 0){
          min = '00'
        }
        return hrs + ":" + min + " " + suffix;
      }
      